* {
    font-family: 'Noto Sans','Noto Sans KR' sans-serif;
    line-height: 1.7;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    cursor: none;

}
  
.cursor_item{
  width: 45px;
  height: 45px;
  background: #7000ff;
  position: fixed;
  left: 0;
  top: 0;
  margin-top: -25px;
  margin-left: -25px;
  border-radius: 50%;
  z-index: 71000 !important;
  mix-blend-mode: difference;
  pointer-events: none;
}

.scroll {
  position: fixed;
  right: 10px;
  top: 10px;
  border: 1px solid #555;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 13px;
  color: #555;
  z-index:70000;
}


@media screen { body { background-color: rgba(250, 250, 250, 1); } }
  
body {
font-family: 'Noto Sans', sans-serif;
width: 100vw;
max-width: 1920px;
margin: 0;
cursor: none;
}





















header {
    position: fixed;
    width: 100vw;
    height: 100vh;
    color: #fff;
    transform: translateZ(2500px);
    pointer-events: none;
    opacity: 0;
    z-index: 69000;
  }
  header.showing {
    opacity: 0;
    animation: navshown 0.5s 3s ease-in forwards;
  }
  header.shown {
    opacity: 1;
  }
  @keyframes navshown {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  header > div.hamburger {
    display: none;
    pointer-events: auto;
  }
  
  header > nav {
    width: 80px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    pointer-events: auto;
  }
  header > nav > a {
    color: #fff;
  }
  header > nav > a > span.mail {
    position: fixed;
    top: 60px;
    right: 50px;
    transform: rotate(0deg);
    font-size: 14px;
    cursor: pointer;
  }
  header > nav > ul {
    position: fixed;
    bottom: 80px;
    right: -90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    transform: rotate(90deg) translate(-50%, -50%);
  }
  header > nav > ul > li {
    padding: 10px;
    margin: 10px 15px;
    font-size: 18px;
    font-weight: 500;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    mix-blend-mode: difference;
    text-decoration: none;
  }

  header > nav > ul > li > a{
    color: #fff;
  }
  header > nav > ul > li > a:hover{
    text-decoration: none;
    color: #7000ff;
    /* cursor: pointer; */
  }

  header > nav > ul > li:hover {
    transform: scale(1.3) translate(0, 0);
    color: #7000ff;
    mix-blend-mode: difference;
  }
  header > nav > ul > li.home {
    display: none;
  }
  header > nav > div.to-top {
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #fff;
    right: 54px;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    opacity: 100%;
    transition: 0.3s;
  }
  header > nav > div.to-top:hover {
    transform: scale(1.2);
  }
  header > nav > p.copyright {
    display: none;
  }

  header > div.cube-logo {
    position: fixed;
    opacity: 0%;
    left: 55px;
    top: 3%;
    transform: scale(0.35) translate(-50%, -50%);
    cursor: pointer;
    padding: 10px;
    pointer-events: auto;
  }
  
  @keyframes cubeLogoRotation {
    0% {
      transform: rotateX(55deg) rotateY(180deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(55deg) rotateY(180deg) rotateZ(360deg);
    }
  }
  









  
  @media screen and (max-width: 768px) {
    header > nav {
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 100%;
      background: #00000095;
      transition: 0.3s ease-in;
      position: fixed;
    }
    header > nav > a {
      color: #181818;
    }
    header > nav > a > span.mail {
      position: absolute;
      bottom: 55px;
      top: auto;
      left: 54%;
      transform: translate(-50%, 0) rotate(0deg);
      font-size: 14px;
      cursor: pointer;
    }
    header > nav > div.to-top {
      display: none;
    }
    header > div.cube-logo {
      display: none;
    }
  
    header > nav > ul {
      width: 90vw;
      height: 100vh;
      opacity: 100%;
      background: #fff;
      color: #181818;
      top: 0;
      right: 0;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: rotate(0deg) translate(0, 0);
    }
    header > nav > ul > li.home {
      display: block;
    }
    header > nav > ul > li {
      font-size: 52px;
    }
  
    header > nav > h2.nav-hello {
      display: block;
      position: absolute;
      margin-left: 10vw;
      left: 25px;
      top: 60px;
      color: #fff;
      line-height: 1.4;
      font-weight: 500;
      font-size: 19px;
    }
    header > nav > h2.nav-hello > span {
      font-weight: 700;
    }
  
   
    header > div.hamburger {
      display: block;
      position: fixed;
      top: 18px;
      right: 24px;
      width: 30px;
      height: 24px;
      padding: 2px;
      z-index: 9999;
      cursor: pointer;
    }
    header > div.hamburger > div {
      width: 30px;
      height: 3px;
      position: absolute;
      top: 50%;
      left: 50%;
      background: #fff;
      transition: 0.3s;
    }
    header > div.hamburger > div.line1 {
      transform: translate(-50%, -400%);
    }
    header > div.hamburger.active > div.line1 {
      animation: line1active 0.5s ease-in-out forwards;
    }
    header > div.hamburger.deactive > div.line1 {
      animation: line1deactive 0.5s ease-in-out forwards;
    }
  
    @keyframes line1active {
      0% {
        transform: translate(-50%, -400%) rotate(0deg);
      }
      50% {
        transform: translate(-50%, -50%) rotate(0deg);
      }
      100% {
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
    @keyframes line1deactive {
      0% {
        transform: translate(-50%, -50%) rotate(45deg);
      }
      50% {
        transform: translate(-50%, -50%) rotate(0deg);
      }
      100% {
        transform: translate(-50%, -400%) rotate(0deg);
      }
    }
  
    header > div.hamburger > div.line2 {
      transform: translate(-50%, -50%);
    }
    header > div.hamburger.active > div.line2 {
      animation: line2active 0.5s ease-in-out forwards;
    }
    header > div.hamburger.deactive > div.line2 {
      animation: line2deactive 0.5s ease-in-out forwards;
    }
  
    @keyframes line2active {
      0% {
        width: 30px;
      }
      50% {
        width: 0px;
      }
      100% {
        width: 0px;
      }
    }
    @keyframes line2deactive {
      0% {
        width: 0px;
      }
      50% {
        width: 0px;
      }
      100% {
        width: 30px;
      }
    }
  
    header > div.hamburger > div.line3 {
      transform: translate(-50%, 300%);
    }
    header > div.hamburger.active > div.line3 {
      animation: line3active 0.5s ease-in-out forwards;
    }
    header > div.hamburger.deactive > div.line3 {
      animation: line3deactive 0.5s ease-in-out forwards;
    }
  
    @keyframes line3active {
      0% {
        transform: translate(-50%, 300%) rotate(0deg);
      }
      50% {
        transform: translate(-50%, -50%) rotate(0deg);
      }
      100% {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
    @keyframes line3deactive {
      0% {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
      50% {
        transform: translate(-50%, -50%) rotate(0deg);
      }
      100% {
        transform: translate(-50%, 300%) rotate(0deg);
      }
    }
    header > nav > p.copyright {
      display: block;
      color: #181818;
      position: absolute;
      left: 55%;
      bottom: 20px;
      transform: translate(-50%, 0);
      white-space: nowrap;
      font-size: 14px;
    }
  }
  
































  section.main {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: translateZ(1500px);
    pointer-events: none;
  }
  section.main.shown {
    opacity: 0;
    animation: mainshown 1s ease-in forwards;

  }
  @keyframes mainshown {
    from {
      opacity: 0;
    }
    to {
      opacity: 100%;
    }
  }
  
  p.hello {
    width: 70%;
    height: 50%;
    font-size: 5vw;
    position: fixed;
    left: 60px;
    top: 17vh;
    text-align: left;
    line-height: 1.4;
    font-weight: 600;
    color: #fff;
  }

  p.hello > span {
    opacity: 0;
    font-weight: 300;
    animation: publisher 1.5s 2s linear forwards;
    z-index: -100;
  }
  
  span > b{
    color: #7000ff;
    font-weight: 500;
  }

  @keyframes publisher {
    from {
      opacity: 0;
    }
    to {
      opacity: 100%;
    }
  }



  article.about-space {
    color: #fff;
    position: fixed;
    bottom: 50px;
    left: 60px;
    pointer-events: none;
  }
  article.about-space > h2 {
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 16px;
    color: #242424;
    -webkit-text-stroke: 1px #fff;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  }
  article.about-space > h2 > span {
    font-size: 36px;
    font-weight: 500;
    color: #fff;
    -webkit-text-stroke: 1px #181818;
    text-shadow: -1px -1px 0 #181818, 1px -1px 0 #181818, -1px 1px 0 #181818, 1px 1px 0 #181818;
  }
  article.about-space > p {
    margin-left: 4px;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
  }
  
  div.scroll-down {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0) scale(0.7);
    bottom: 40px;
    animation: scroll-down 1.5s ease infinite;
    pointer-events: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  div.scroll-down > .mouse {
    width: 40px;
    height: 65px;
    border-radius: 20px;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div.scroll-down > .mouse > .point {
    width: 4px;
    height: 12px;
    border-radius: 2px;
    background-color: #fff;
    transform: translate(0, -12px);
    animation: point-down 1.5s ease infinite;
  }
  div.scroll-down > div.arrow {
    transform: translate(0, 8px);
    display: flex;
    justify-content: center;
  }
  div.scroll-down > div.arrow:nth-child(2) {
    transform: translate(0, 20px);
  }
  div.scroll-down > div.arrow > div.left {
    width: 16px;
    height: 2px;
    background-color: #fff;
    transform: rotate(45deg) translate(4px, 0);
  }
  div.scroll-down > div.arrow > div.right {
    width: 16px;
    height: 2px;
    background-color: #fff;
    transform: rotate(-45deg) translate(-4px, 0);
  }
  
  @keyframes scroll-down {
    from {
      transform: translate(-50%, -10px) scale(0.7);
      opacity: 1;
    }
    75% {
      opacity: 0.5;
    }
    to {
      transform: translate(-50%, 15px) scale(0.7);
      opacity: 0;
    }
  }
  
  @keyframes point-down {
    from {
      transform: translate(0, -12px);
    }
    to {
      transform: translate(0%, -2px);
    }
  }









/* -------------------------------------------------------------------------------------------------------------- */
.project_ddok{
  width: 45vw;
  position: absolute;
  left: 45vw;
  top: 25vh;
  cursor: pointer;
}

.ddok_text{
  width: 35vw;
  /* border: solid 1px red; */
  position: relative;
  left: 8vw;
  top: 25vh;
}

.ddok_logo img{
  width: 5vw;
  position: relative;
  padding: 1vw;
  background: #fff;
  border-radius: 15px;
}



.project_title{
  width: 28vw;
  /* border: solid 1px blue; */
  position: absolute;
  top: 0vh;
  left: 7vw;
}

.project_title > h2{
  font-size: 1.2vw;
}

.project_title > h1{
  margin-top: 5px;
  font-size: 3.5vw;
  font-weight: 700;
}



.project_ex > h3{
  position: relative;
  margin-top: 40px;
  margin-bottom: 15px;
  color: #aaa;
}

.project_ex > p{
  width: 30vw;
  /* border: solid 1px blue; */
  line-height: 150%;
  position: relative;
  font-size: 0.8vw;
}

.project_ex > p > span{
  color: #6969ff;

  /* background: #fff; */
}

.project_ex > p > a{
  text-decoration: #4B4BA3 3px underline;
  color: #fff;
  cursor: pointer;
}

.project_ex > p > a > span{
  color: #6969ff;

}






/* -------------------------------------------------------------------------------------------------------------- */
/* 어바웃 섹션 */
/* -------------------------------------------------------------------------------------------------------------- */
/* .about_me{
  position: relative;
  border: solid 5px blue;
} */






























.sec5{ 
  height:100vh;
  width:100vw; 
  top:0; 
  left:0; 
  overflow:hidden;
}

.sec5-2{
  position:fixed;
  top:0%;
  right:0%; 
  height:100vh; 
  width:100vw;  
  background: color #242424;;
  color:#fff;  
  z-index: 55000;
}






.sec5-3{
  position:fixed;
  top:0%;
  right:0%; 
  height:100vh; 
  width:100vw;  
  background-color:#242424;
  color:#000;  
  z-index: 54000;
}

.about_who{
  width: 100vw;
  position: relative;
  top: -3vh;
}





.sec5-4{
  position:fixed;
  top:0%;
  left:0%; 
  height:100vh; 
  width:100vw;  
  background-color:#000;
  color:#fff;  
  z-index: 53000;
}

.sec5-5{
  position:fixed;
  top:0%;
  right:0%; 
  height:100vh; 
  width:100vw;  
  background-color:#fff;
  color:#000;  
  z-index: 52000;
}

.number{
  z-index: 999999;
  color: #fff;
  font-size: 2vw;
  position: absolute;
  top: 39vh;
  left: 50vw;
}

.resume_btn{
  position: absolute;
  border: solid 2px #7000ff;
  border-radius: 25px;
  z-index: 999999;
  font-size: 1vw;
  background-color: #fff;
  top: 55vh;
  left: 50vw;
  padding: 10px 25px;
}

.resume_btn > a{
  color: #7000ff;
  cursor: pointer;
}

.resume_btn > a:hover{
  
  text-decoration: none;
}

.sec5-6 {
  position:fixed;
  top:0%;
  right:0%; 
  height:100vh; 
  width:100vw;  
  background-color:#fff;
  color:#000;  
  z-index: 51000;  
}

.sec5-7 {
  position:fixed;
  top:0%;
  right:0%; 
  height:100vh; 
  width:100vw;
  background-color:#fff;
  color:#000;  
  z-index: 50000;  
}
